{% extends 'base.html' %}

{% block content %}
<br>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h4 class="card-title">Publicación masiva de ordenanzas</h4>
    <form method="post">
      {% csrf_token %}
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
              <th scope="col" class="col-1">Ordenanza</th>
              <th scope="col" class="col-2">Fecha Creación</th>
              <th scope="col" class="col-9">Descripción</th>
          </tr>
      </thead>
      <tbody>
        {% if ordenanzas %}
        {% for ordenanza in ordenanzas %}
          <tr>
            <td>{{ ordenanza.numero_ordenanza|stringformat:"04d" }}/{{ ordenanza.anio|stringformat:"s"|slice:"-2:" }}</td>
            <td>{{ ordenanza.fecha_creacion }}</td>
            <td>{{ ordenanza.descripcion }}</td>
          </tr>
        {% endfor %}
        {% else %}
          <tr>
            <td colspan="3">No hay ordenanzas para publicar entre las fechas seleccionadas.</td>
          </tr>
        {% endif %}
      </tbody>
      </table>
      {% if ordenanzas %}
      <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#confirmModal">
        Confirmar publicación
      </button>

        <!-- Modal de confirmación -->
        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmar publicación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>¿Estás seguro de que deseas publicar las ordenanzas?</p>
                <p class="text-danger text-center"><b>¡Una vez publicados no podrás modificarlo!</b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" name="confirmar">Publicar</button>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
