{% extends 'base.html' %}

{% block content %}
<br>
<div class="card" style="width: 100%;">
    <div class="card-body">
        <h3>¡Boletín generado correctamente!</h3>
        <br>
        <h4 class="card-title">Boletín Oficial - {{ boletin.fecha_creacion|date:"d/m/Y" }}</h4>
        <p>Incluye los documentos publicados entre las fechas <b>{{ boletin.fecha_desde|date:"d/m/Y" }}</b> y <b>{{ boletin.fecha_hasta|date:"d/m/Y" }}</b>.</p>
        <!--     <h6>Incluye:</h6>
    <ul>
        <li>Decretos: {{ boletin.decretos }}</li>
        <li>Resoluciones: {{ boletin.resoluciones }}</li>
        <li>Ordenanzas: {{ boletin.ordenanzas }}</li>
        <li>Declaraciones: {{ boletin.declaraciones }}</li>
    </ul> -->
        <h6>Documentos:</h6>
        <ul>
            {% for documento in documentos %}
            <li>{{ documento }}</li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary float-end" href="{% url 'boletinoficial_list' %}">Ir a listado</a>
        <a class="btn btn-success float-end" href="{{ boletin.archivo_pdf.url }}" target="_blank">Descargar Boletín {{ boletin.fecha_creacion|date:"d/m/Y" }}</a>
    </div>
</div>
{% endblock %}