{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Listado de Decretos</h2>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre del Decreto</th>
                <th scope="col">Fecha de Publicación</th>
                <th scope="col">Archivo Adjunto</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for decreto in object_list %}
            <tr>
                <td>{{ decreto.numero_decreto }}/{{ decreto.anio }}</td>
                <td>{{ decreto.fecha_publicacion }}</td>
                <td>{% if decreto.archivo_pdf %}Sí{% else %}No{% endif %}</td>
                <td>
                  {% if not decreto.publicado %}
                    <a href="{% url 'decreto_update' decreto.id %}" class="btn btn-primary">Editar</a>
                  {% endif %}
                  {% if decreto.archivo_pdf %}
                    <a href="{% url 'decreto_pdf' decreto.id %}" class="btn btn-success" target="_blank">Imprimir</a>
                  {% endif %}
                  {% if not decreto.publicado %}
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ decreto.id }}">Eliminar</button>
                  {% endif %}
                </td>
            </tr>
            <!-- Modal -->
    <div class="modal fade" id="deleteModal{{ decreto.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="text-center">¿Estás seguro de que deseas eliminar el <b>Decreto Nº {{ decreto.numero_decreto }}/{{ decreto.anio }}</b>?</p>
            <p class="text-danger text-center"><b>¡Una vez eliminado no podrás recuperarlo!</b></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="{% url 'decreto_delete' decreto.id %}" class="btn btn-danger">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
    <!-- ... -->
            {% endfor %}
        </tbody>
    </table>
</div>

    

{% endblock %}