{% extends 'base.html' %}

{% block content %}
<br>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h4 class="card-title">Editar Decreto {{ decreto.numero_decreto }}/{{ decreto.anio }}</h4>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <br>
        <div class="row">
          <div class="col-2">
            <h6>Número de Decreto</h6>
            {{ form.numero_decreto }}
          </div>
          <div class="col-2">
            <h6>Año</h6>
            {{ form.anio }}
          </div>
          <div class="col-4">
            <h6>Fecha Creación</h6>
            {{ form.fecha_creacion }}
          </div>
          <div class="col-4">
            <h6>Fecha Publicación (Si corresponde)</h6>
            {{ form.fecha_publicacion }}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <h6>Descripción</h6>
            {{ form.descripcion }}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <h6>Archivo PDF</h6>
            {{ form.archivo_pdf }}
            {% if form.instance.archivo_pdf %}
            <p class="float-end text-danger"><b>¡Si cargas otro archivo reemplazaras el existente!</b></p>
              <p><i><b>Archivo actual:</b> {{ form.instance.archivo_pdf }}</i></p>
            {% endif %}
          </div>
        </div>
      </div>
      <button class="btn btn-primary float-end">Actualizar</button>
    </form>
  </div>
</div>
{% endblock %}
